@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]

@using Chinook.ClientModels
@using Chinook.Domain.Contracts
@using Chinook.Models
@using static Chinook.Domain.Constants

@if (playlist == null && !string.IsNullOrWhiteSpace(message))
{
    <Alert Message="@message" IsError="isError" />
}
else if (playlist == null)
{
    <Loading />
}
else
{
    <h1>Playlist <strong>@playlist?.Name</strong></h1>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <Alert Message="@message" IsError="isError" />
    }

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in playlist.Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            @if (playlist.Name == DefaultPlaylistNames.Favorites)
                            {
                                @if (track.IsFavorite)
                                {
                                    <a href="#" class="m-1" title="Unark as favorite" @onclick="@(() => UnfavoriteTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-star-fill"></i></a>
                                }
                            }
                            else
                            {
                                <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}